Source: vbrfix
Section: sound
Priority: optional
Maintainer: Lukas Anzinger <lukas@lukasanzinger.at>
Build-Depends: debhelper (>= 9), libqt4-dev
Standards-Version: 3.8.4
Homepage: http://home.gna.org/vbrfix/
VCS-Browser: https://www.github.com/Lukas0907/vbrfix
VCS-Git: https://www.github.com/Lukas0907/vbrfix.git

Package: vbrfix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: vbrfixgui
Description: Corrects MP3 files that have incorrect VBR information
 VBR MP3s often have a special tag at the beginning to inform the player about
 how to treat the VBR file. VBRFix can create/replace this special tag. It can
 also be used to remove unrecognised data from the mp3 and spot other
 problems.
 .
 This is the command line version of vbrfix. There's also a GUI version using
 Qt named vbrfixgui available.

Package: vbrfixgui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: vbrfix
Description: Corrects MP3 files that have incorrect VBR information (gui)
 VBR MP3s often have a special tag at the beginning to inform the player about
 how to treat the VBR file. VBRFix can create/replace this special tag. It can
 also be used to remove unrecognised data from the mp3 and spot other
 problems.
 .
 This is the GUI version of vbrfix. There's also a command line version vbrfix
 available.
